html {
    background-color:gray;
    font-family: sans-serif;
}
.title {
    color: white;
    font-size: 40px;
}
.menu {
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
}
.course-name {
    font-size: 34px;
}
.course-hours {
    letter-spacing:-1px
    font-size: 12px;
}
.course-dishes {

}
.dish {
    background-color: lightgrey;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    margin: 4px;
    padding: 6px;
}
.dish-name {
    list-style-type: none;
}
.ingredients {
    list-style-type: square;
}
.tags {
    border-style: solid;
    border-width: 2px;
    border-color: #555;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 4px;
    font-size: 12px;
}