html {
    background-color:gray;
    font-family: sans-serif;
}
.title {
    color: tan;
}
.menu {
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin: 4px;
}
.course-name {

}
.course-hours {

}
.course-dishes {

}
.dish {

}
.dish-name {

}
.ingredients {

}